<% layout('layout/boilerplate') %>
<body>
    <div class="container mt-5"></div>
        <div class="row"></div>
            <div class="col-md-8 offset-md-2">
                <h5 class="card-title"><%= restaurant.title %></h5>
                <div class="card restaurant-card"></div>
                    <img src="<%= restaurant.image %>" class="card-img-top card-image" alt="image">
                    <div class="card-body"></div>
                        <p class="card-text"><%= restaurant.description %></p>
                        <ul class="list-group list-group-flush"></ul>
                            <li class="list-group-item"><strong>Address:</strong> </li>
                            <li class="list-group-item"><strong>Phone:</strong> </li>
                            <li class="list-group-item"><strong>Website:</strong> <a href=""></a></li>
                        </ul>
                    </div>
                    <div class="restaurant-btns row mt-2 mb-2">
                        <a href="/restaurant/<%= restaurant._id %>/edit" class="btn btn-success col-sm-4 offset-sm-2">Edit</a>
                        <form action="/restaurant/<%= restaurant._id %>?_method=DELETE" method="POST" class="col mb-2">
                            <button class="Delete-btn btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>